[Unit]
Description = NKM PI CAM SERVICE
After=network.target

[Service]
Type = simple
ExecStart = python3 /home/pi/cam/main.py
Restart = always
User=1000

[Install]
WantedBy = multi-user.target